use mavenmovies;

select \* from actor;

select \* from customer;

select distinct country from country;

select \* from active where active=1;

select \* from customer where rental_id=1;

select film where rental_duration\>5;

select \* from film where replacement_cost\>15 and replacement_cost\<20;

select count(\*) as no_of_films from film where rental_rate \<1;

select count(distinct first_name) as first_name_count from actor;

select \* from customer limit 10;

select first_name from customer where first_name like "a%" limit 3;

select title,rating from film where rating='G' limit 5;

Select \* from customer where first_name like "a%";

select \* from customer where first_name like "%a";

select city from city where city like "a%a" limit 4;

select first_name, last_name from customer where name like "%NI%";

select first_name from customer where first_name Like "%\_r";

select first_name from customer where first_name like "a%" and
length(first_name)\>=5;

select first_name from customer where first_name like "a%o";

select title,rating from film where rating in ("pg",pg-13);

select title,length from film where length between 50 and 100;

select \* from actor order by actor_id desc limit 50;

select distinct film_id from inventory;